# Dependencias
node_modules/
docs

# Variables de entorno (SECRETOS - NUNCA SUBIR)
.env
.env.local

# Base de datos local
*.db
*.sqlite
*.postgresql

# Logs
logs/
*.log
npm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build
dist/
build/

# Datos CSV de sensores
datos/

# Prisma
prisma/migrations/dev/